# üë®üèΩ‚Äçüíª Ejercicio Pandas 02

In [1]:
import pandas as pd
import numpy as np

##### 1. Crear 2 series con 7 elementos cada una, de tal manera que solo 5 elementos sean iguales entre las 2. Hacer la sumatoria de ambas series y mostrar el resultado sin que aparezca ¬´NaN¬ª. Ordenar de manera ascendente.

In [10]:
serie1 = pd.Series([10, 20, 30, 40, 50, 60, 70])
serie2 = pd.Series([10, 20, 30, 40, 50, 80, 90])
serie3 = serie1.add(serie2, fill_value = 0)
serie3.sort_values(ascending = True)

0     20
1     40
2     60
3     80
4    100
5    140
6    160
dtype: int64

##### 2. Realizar la sumatoria de ambas series y, en donde no coincidan, sumarle al elemento individual un valor de 100.

In [11]:
serie4 = serie1.add(serie2, fill_value = 100)
serie4

0     20
1     40
2     60
3     80
4    100
5    140
6    160
dtype: int64

##### 3. Verificar el tipo de cada serie y del resultado de la sumatoria.

In [13]:
print("El tipo de dato de la serie 1 es: ", serie1.dtype)
print("El tipo de dato de la serie 2 es: ", serie2.dtype)
print("El tipo de dato de la serie 3 es: ", serie3.dtype)
print("El tipo de dato de la serie 4 es: ", serie4.dtype)

El tipo de dato de la serie 1 es:  int64
El tipo de dato de la serie 2 es:  int64
El tipo de dato de la serie 3 es:  int64
El tipo de dato de la serie 4 es:  int64

##### 4. Crear un dataframe de 4 columnas y 4 renglones de n√∫meros aleatorios del 1 al 100. Agregar nombres a las columnas y a los √≠ndices.

In [15]:
# √çndices para los renglones.
renglones = ['R1', 'R2', 'R3', 'R4']
# Nombres para las columnas.
columnas = ['C1', 'C2', 'C3', 'C4']
# Crear el dataframe.
dataframe1 = pd.DataFrame(np.random.randint(0, 100, (4, 4)), index = renglones, columns = columnas)
dataframe1

    C1  C2  C3  C4
R1   5   6  29  42
R2  41  98  31   9
R3   2  73  89  57
R4  41  42  37  33

#