# 👨🏽‍💻 Ejercicio Pandas: Series

> 🏗 Construir series y realizar los siguientes ejercicios.
>
> 🕵🏽‍♂️ Explorar más métodos que se puedan utilizar.

Importar las librerías necesarias ☝🤓.

In [1]:
import pandas as pd
import numpy as np

##### **Ejercicio** 1️⃣
Crea una Serie llamada «notas» con los nombres de alumnos como índices y sus calificaciones como valores. Luego, muestra las calificaciones de mayor a menor.

In [2]:
nombre_alumnos = ["Felipe", "Orlando", "César", "Mayra", "Claudia",
                  "Fernanda", "Leonardo", "Lorena", "Alejandro", "Mariana"]
# Arreglo con 10 números aleatorios entre 70 y 100 para las calificaciones.
calificaciones = np.random.randint(70, 101, 10)
# Serie con los nombres de los alumnos como índices y sus calificaciones 
# como valores.
notas = pd.Series(calificaciones, nombre_alumnos)
# Mostrar las calificaciones de mayor a menor.
notas.sort_values(ascending=False)

Claudia      100
Mayra         95
Lorena        94
Alejandro     90
Felipe        87
Fernanda      87
Leonardo      84
Orlando       83
César         78
Mariana       78
dtype: int32

---
Ordenamiento de mayor a menor con el método `nlargest()`: Éste método devuelve los n elementos más grandes de la serie. El número de elementos a devolver se especifica mediante el parámetro `n`.

In [3]:
# En este caso, n = 10 para mostrar todas las calificaciones.
notas.nlargest(n=10)

Claudia      100
Mayra         95
Lorena        94
Alejandro     90
Felipe        87
Fernanda      87
Leonardo      84
Orlando       83
César         78
Mariana       78
dtype: int32

##### **Ejercicio** 2️⃣
Dada la Serie «edades» con nombres de personas como índices y sus edades como valores, encuentra la edad promedio de las personas mayores de 25 años.

In [4]:
nombres = ["Ricardo Arjona", "Joaquín Sabina", "Silvio Rodríguez", "Lazcano Malo",
           "Julieta Venegas", "Rocío Dúrcal", "Chavela Vargas", "Luis Miguel", 
           "José Alfredo", "Juanes"]
edades = [59, 74, 76, 24, 49, 61, 93, 21, 71, 22]
serie_edades = pd.Series(edades, nombres)
# Mostrar la serie de edades completa.
print("Serie de edades:\n", serie_edades)
# Mostrar la edad promedio de las personas mayores de 25 años.
print("Edad promedio de personas mayores de 25 años:",
      serie_edades[serie_edades > 25].mean())

Serie de edades:
 Ricardo Arjona      59
Joaquín Sabina      74
Silvio Rodríguez    76
Lazcano Malo        24
Julieta Venegas     49
Rocío Dúrcal        61
Chavela Vargas      93
Luis Miguel         21
José Alfredo        71
Juanes              22
dtype: int64
Edad promedio de personas mayores de 25 años: 69.0

---
Otra manera de obtener el promedio de los valores de una serie es con el método `average()` de la librería *numpy*.

In [5]:
print("Edad promedio de personas mayores de 25 años:",
      np.average(serie_edades[serie_edades > 25]))

Edad promedio de personas mayores de 25 años: 69.0

##### **Ejercicio** 3️⃣
Dada la Serie «ventas» con nombres de productos como índices y sus cantidades vendidas como valores, muestra los productos que tienen ventas superiores a 50 unidades.

In [6]:
productos = ["Papas", "Refresco", "Jugo", "Cerveza", "Cigarros",
             "Papel", "Café", "Chocolate", "Galletas", "Chicles"]
cantidades_vendidas = np.random.randint(1, 101, 10)
ventas = pd.Series(cantidades_vendidas, productos)
print("Ventas totales:\n", ventas)
print("\nProductos con ventas superiores a 50 unidades:\n",
      ventas[ventas > 50])

Ventas totales:
 Papas        68
Refresco     43
Jugo         56
Cerveza      60
Cigarros     21
Papel        95
Café         32
Chocolate    61
Galletas      4
Chicles      67
dtype: int32

Productos con ventas superiores a 50 unidades:
 Papas        68
Jugo         56
Cerveza      60
Papel        95
Chocolate    61
Chicles      67
dtype: int32

---
💡 Para filtrar los valores de una serie se pueden utilizar los operadores de comparación `>`, `<`, `>=`, `<=`, `==` y `!=`. El resultado de la comparación es una serie de valores booleanos que se pueden utilizar para filtrar los valores de la serie original.

Sin embargo, también se puede utilizar el método `where()`, que recibe como parámetro una condición booleana y devuelve una serie con los valores que cumplen la condición y `NaN` en caso contrario.

In [7]:
ventas.where(ventas > 50)

Papas        68.0
Refresco      NaN
Jugo         56.0
Cerveza      60.0
Cigarros      NaN
Papel        95.0
Café          NaN
Chocolate    61.0
Galletas      NaN
Chicles      67.0
dtype: float64