# Lists

In [1]:
# Let's assign some string values to some variables:
city_0 = "Saltillo"
city_1 = "Monterrey"
city_2 = "Colima"
city_3 = "Cancun"

print("Welcome to " + city_0 + "!")

Welcome to Saltillo!

In [3]:
# Now, let's create a list of cities:
# Each element in the list has an index, starting from 0.
cities = ["Saltillo", "Monterrey", "Colima", "Cancún", "San Pedro", "Chihuahua"]
print("Welcome to " + cities[3] + "!")

Welcome to Cancún!

In [7]:
# It is possible to mix different types of data in a list:
mixed_things = ["Spongebob", "Iron Man", 3.1416]
print(mixed_things[1] + "'s favorite number is " + str(mixed_things[2]) + ".")

Iron Man's favorite number is 3.1416.

##### 01. What is players? (one word)
```python
players = ["Jane", "Jen", "Jill"]
```

list

##### 02. Type the two characters that are missing from this list definition.
```python	
scores = 78, 47, 3, 52, 16
```

[]

##### 03. The last element in the list is 0. Complete the list definition.
`qtys = [144, 12, 16__________`

, 0]

##### 04. Define a list, **noncolors**, that has a single element, "black".

In [8]:
noncolors = ["black"]

##### 05. What is the index number of a list's first element?

0

##### 06. A list contains 20 elements. What is the index number of the last element?

19

##### 07. Assign the third element in the list to a variable. Make up the variable name.
```python
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
```

In [10]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]
city = cities[2]
print("Welcome to " + city + "!")

Welcome to Chicago!

##### 08. Code a list whose three elements are integers. Make up the name of the list and the integers.

In [11]:
years = [1521, 1810, 1910]
print(years)

[1521, 1810, 1910]

##### 09. Code a list whose two elements are strings. Make up the name of the list and the strings.

In [12]:
pets = ["Coffee", "Coquita"]

##### 10. In a single line of code and using the list to specify the element, display "Black".
```python
seas = ["North", "Red", "Dead", "Black", "Baltic", "Bali"]
```

In [14]:
seas = ["North", "Red", "Dead", "Black", "Baltic", "Bali"]
print(seas[3])

Black

##### 11. Complete line 2 to assign the last element of the list to the variable.
```python
weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri"]
fifth_weekday = _________
print(fifth_weekday)
```

In [15]:
weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri"]
fifth_weekday = weekdays[4]
print(fifth_weekday)

Fri

##### 12. Define a list that contains three elements. Display the list.

In [17]:
databases = ["MySQL", "Postgresql", "Oracle"]
print(databases)

['MySQL', 'Postgresql', 'Oracle']