# Tuples
A tuple—pronounced "toople" by some people and "tupple" by others—is like a list, but the elements are fixed. They can't be changed—unless you redefine the whole tuple.

In [2]:
# Tuple
cartoons = ("Ricky and Morty", "Teen Titans", "Tom and Jerry", "Gravity Falls")
'''
cartoons[0] = "Rick and Morty"  Error
cartoons.append("Spongebob")    Error
cartoons.remove("Teen Titans")  Error
'''
cartoons

('Ricky and Morty', 'Teen Titans', 'Tom and Jerry', 'Gravity Falls')

##### 01. It's like a list, but the elements are fixed. What is it called?

tuple

##### 02. Recode this list to make it a tuple.
```python
x = [10, 9]
```

```python
x = (10, 9)
```

##### 03. Define a tuple with two elements, "hi" and "bye". The tuple's name is **greetings**.

```python
greetings = ("hi", "bye")
```

##### 04. Define a tuple with two elements, 1 and 2. The tuple's name is nums.

```python
nums = (1, 2)
```

##### 05. Rewrite this so you can make changes to the elements.
```python
sizes = ("sm", "med", "lg", "xl")
```

In [7]:
sizes = ["sm", "med", "lg", "xl"]
sizes

['sm', 'med', 'lg', 'xl']

##### 06. Code a tuple with three elements that are numbers. Make up the tuple name and the numbers.

In [9]:
numbers = (3.14, 2.71, 1.61)
numbers

(3.14, 2.71, 1.61)

##### 07. Concatenate the second element of tuple **x** with the third element of tuple **y**. In the concatenation include a comma and space in the middle. Assign the concatenated string to a variable. Make up the variable name.
```python
x = (3, "Hello", "Howdy", "Greetings")
y = ("earth", "sun", "World", "Pluto", 144)
```

In [11]:
x = (3, "Hello", "Howdy", "Greetings")
y = ("earth", "sun", "World", "Pluto", 144)
z = x[1] + ", " + y[2]
print(z)

Hello, World

##### 08. Code a tuple with three elements—your first, middle, and last names. Make up the tuple name.

In [12]:
my_name = ("Luis Felipe", "Renovato", "Ávila")
print(my_name)

('Luis Felipe', 'Renovato', 'Ávila')

##### 09. Code a tuple with three numbers. Make up the tuple name and the numbers.

In [13]:
integers = (619, 1512, 2019)
print(integers)

(619, 1512, 2019)

##### 10. Code a tuple with three elements that are strings. Then, in a single line, append the last element to a list. Make up the names and strings.

In [14]:
domestic_animals = []
canines = ("dog", "wolf", "fox")
domestic_animals.append(canines[2])
print(domestic_animals)

['fox']

##### 11. Create a tuple with at least two elements. Then display the second element.

In [15]:
videogames = ("Hollow Knight", "Celeste")
print(videogames[1])

Celeste

##### 12. Insert an element of the tuple into the first position (index 0) in the list. Then display the list.
```python
list = [4, 5, 6]
tuple = (1, 2, 3)
```

In [19]:
list = [4, 5, 6]
tuple = (1, 2, 3)
list.insert(0, tuple[2])
print(list)

[3, 4, 5, 6]