# üêº Pandas

---
> **Pandas** es una librer√≠a de **Python** especializada en la manipulaci√≥n y el an√°lisis de datos. Ofrece estructuras de datos y operaciones para manipular tablas num√©ricas y series temporales, es como el *Excel de Python*.
---

## üìÖ 2023-11-22

In [1]:
import pandas as pd
import numpy as np

- **Series**: Arreglos unidimensionales de datos (una columna).
- **DataFrame**: Arreglos bidimensionales de datos (una tabla).

### üìä Series

In [1]:
# Lista de marcas de veh√≠culos.
marcas = [ 'Toyota', 'Volkswagen', 'Hyundai', 'Ford', 'Nissan', 'Chevrolet', ]

# Lista de √≠ndices alfabetizados.
index = [ 'a', 'b', 'c', 'd', 'e', 'f', ]

In [10]:
# Crear una serie.
s = pd.Series(["MEX", "USA", "CAN"])

In [11]:
# Observar la serie creada. Es una columna de datos con un √≠ndice.
s

0    MEX
1    USA
2    CAN
dtype: object

In [12]:
# Es posible acceder a los datos de la serie por medio de su √≠ndice.
s[0]

'MEX'

In [13]:
# Crear una serie a partir de la lista de veh√≠culos y el √≠ndice.
serie = pd.Series(marcas, index)

In [14]:
serie

a        Toyota
b    Volkswagen
c       Hyundai
d          Ford
e        Nissan
f     Chevrolet
dtype: object

In [16]:
# Se puede acceder a los datos de la serie por medio de su √≠ndice (n√∫mero o letra).
print(serie[0])
print(serie['a'])

Toyota
Toyota

In [18]:
# Serie a partir de un diccionario de edades.
edades = { "Juan": 25, "Mar√≠a": 22, "Pedro": 21, "Luis": 19, "Ana": 20, "Pablo": 23, }
serie_edades = pd.Series(edades)
serie_edades

Juan     25
Mar√≠a    22
Pedro    21
Luis     19
Ana      20
Pablo    23
dtype: int64

In [19]:
# Ventas del primer y segundo cuarto del a√±o.
q1 = { "MEX": 100, "USA": 200, "CAN": 300, "CHI": 400 }
q2 = { "ARG": 500, "USA": 600, "CAN": 700, "CHI": 800 }

In [22]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [23]:
sales_q1

MEX    100
USA    200
CAN    300
CHI    400
dtype: int64

In [24]:
sales_q2

ARG    500
USA    600
CAN    700
CHI    800
dtype: int64

In [25]:
# Si se multiplica un arreglo por un escalar, se multiplica el arreglo. En este caso se duplica.
[2, 4] * 2

[2, 4, 2, 4]

In [26]:
# Si se multiplica un arreglo de NumPy por un escalar, se multiplica cada elemento del arreglo por el escalar.
np.array([2, 4]) * 2

array([4, 8])

In [27]:
# Si se multiplica una serie por un escalar, se multiplica cada elemento de la serie por el escalar.
sales_q1 * 2

MEX    200
USA    400
CAN    600
CHI    800
dtype: int64